 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/image.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 294px 64px 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 441px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 21px auto 59px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-3 .u-video-1 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-3 .u-video-1 {
    min-height: 372px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-3 .u-video-1 {
    min-height: 285px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-video-1 {
    min-height: 428px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-video-1 {
    min-height: 269px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 243px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 60px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 568px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 29px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 10px 0;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 348px 0 4px;
}

.u-section-5 .u-text-3 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 119px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 11px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('images/image1.png');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 339px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: -26px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-6 .u-container-layout-1 {
  padding: 73px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-line-1 {
  width: 100px;
  margin: 6px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-6 .u-container-layout-2 {
  padding: 73px 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 0 -32px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-6 .u-line-1 {
    height: 3px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 25px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 380px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 10px 0;
}

.u-section-7 .u-text-1 {
  margin: 26px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin: 0 443px 0 4px;
}

.u-section-7 .u-text-3 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 119px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 11px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 380px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 10px 0;
}

.u-section-8 .u-text-1 {
  margin: 26px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin: 0 443px 0 4px;
}

.u-section-8 .u-text-3 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 119px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 11px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 380px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 648px;
}

.u-section-9 .u-container-layout-1 {
  padding: 22px 5px 22px 10px;
}

.u-section-9 .u-text-1 {
  margin: 0 32px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 8px 32px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 16px 32px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 32px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  margin: 66px 29px 0 0;
}

.u-section-9 .u-text-6 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 11px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 692px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 720px;
}

.u-section-10 .u-container-layout-1 {
  padding: 13px 10px 22px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 9px 38px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 8px 38px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 8px 38px 0 0;
}

.u-section-10 .u-text-4 {
  margin: 13px 38px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 720px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-5 {
  margin: 29px 25px 0 4px;
}

.u-section-10 .u-text-6 {
  margin: 13px 0 0;
}

.u-section-10 .u-text-7 {
  margin: 13px 25px 0 4px;
}

.u-section-10 .u-text-8 {
  margin: 13px 0 0;
}

.u-section-10 .u-text-9 {
  margin: 19px 25px 0 4px;
}

.u-section-10 .u-text-10 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 594px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 11px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-11 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-11 .u-text-2 {
  margin: -10px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 650px;
  margin-bottom: 0;
}

.u-section-12 .u-text-1 {
  margin: 21px 0;
}.u-section-13 .u-sheet-1 {
  min-height: 243px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 60px 0;
}.u-section-14 .u-sheet-1 {
  min-height: 687px;
}

.u-section-14 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-14 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 686px;
  --gap: 10px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-image-1 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-14 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px;
}

.u-section-14 .u-image-2 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-14 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-container-layout-3 {
  padding: 30px;
}

.u-section-14 .u-image-3 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-14 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-container-layout-4 {
  padding: 30px;
}

.u-section-14 .u-image-4 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-text-7 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-14 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-14 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-repeater-1 {
    grid-gap: 10px;
  }

  .u-section-14 .u-image-1 {
    height: 301px;
  }

  .u-section-14 .u-image-2 {
    height: 301px;
  }

  .u-section-14 .u-image-3 {
    height: 301px;
  }

  .u-section-14 .u-image-4 {
    height: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-list-1 {
    min-height: 653px;
  }

  .u-section-14 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-14 .u-image-1 {
    height: 485px;
  }

  .u-section-14 .u-image-2 {
    height: 485px;
  }

  .u-section-14 .u-image-3 {
    height: 485px;
  }

  .u-section-14 .u-image-4 {
    height: 485px;
  }

  .u-section-14 .u-gallery-nav-2 {
    left: auto;
    top: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-1 {
    height: 382px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-2 {
    height: 382px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-3 {
    height: 382px;
  }

  .u-section-14 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-4 {
    height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-14 .u-list-1 {
    margin-top: 70px;
    margin-bottom: 17px;
  }

  .u-section-14 .u-image-1 {
    height: 235px;
  }

  .u-section-14 .u-image-2 {
    height: 235px;
  }

  .u-section-14 .u-image-3 {
    height: 235px;
  }

  .u-section-14 .u-image-4 {
    height: 235px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 243px;
}

.u-section-15 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 60px 0;
}.u-section-16 .u-sheet-1 {
  min-height: 487px;
}

.u-section-16 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-16 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 444px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-16 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-16 .u-image-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-16 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-16 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-16 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-16 .u-image-2 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-16 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-repeater-1 {
    min-height: 366px;
    grid-gap: 0px;
  }

  .u-section-16 .u-image-1 {
    height: 176px;
  }

  .u-section-16 .u-image-2 {
    height: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-16 .u-image-1 {
    height: 283px;
  }

  .u-section-16 .u-image-2 {
    height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-image-1 {
    height: 223px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-image-2 {
    height: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-image-1 {
    height: 137px;
  }

  .u-section-16 .u-image-2 {
    height: 137px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 243px;
}

.u-section-17 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  margin: 60px 0;
}.u-section-18 .u-sheet-1 {
  min-height: 478px;
}

.u-section-18 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 19px;
  margin-bottom: 18px;
}

.u-section-18 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 441px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-18 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-18 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-18 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-18 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-18 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 31.87% 50%;
  background-size: auto 101%;
}

.u-section-18 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-18 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-18 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-18 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 364px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-18 .u-image-1 {
    height: 208px;
  }

  .u-section-18 .u-image-2 {
    height: 208px;
  }

  .u-section-18 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 836px;
    grid-auto-columns: 50%;
  }

  .u-section-18 .u-image-1 {
    height: 246px;
  }

  .u-section-18 .u-image-2 {
    height: 246px;
  }

  .u-section-18 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-18 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-image-1 {
    height: 426px;
  }

  .u-section-18 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-image-2 {
    height: 426px;
  }

  .u-section-18 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-18 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-image-1 {
    height: 262px;
  }

  .u-section-18 .u-image-2 {
    height: 262px;
  }

  .u-section-18 .u-image-3 {
    height: 262px;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 440px;
}

.u-section-19 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 18px;
  margin-bottom: 18px;
}

.u-section-19 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 405px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-19 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-19 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-19 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-19 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-19 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-19 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-19 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-19 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-19 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 334px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-19 .u-image-1 {
    height: 208px;
  }

  .u-section-19 .u-image-2 {
    height: 208px;
  }

  .u-section-19 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 767px;
    grid-auto-columns: 50%;
  }

  .u-section-19 .u-image-1 {
    height: 246px;
  }

  .u-section-19 .u-image-2 {
    height: 246px;
  }

  .u-section-19 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-19 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-image-1 {
    height: 426px;
  }

  .u-section-19 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-image-2 {
    height: 426px;
  }

  .u-section-19 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-image-1 {
    height: 262px;
  }

  .u-section-19 .u-image-2 {
    height: 262px;
  }

  .u-section-19 .u-image-3 {
    height: 262px;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 436px;
}

.u-section-20 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-section-20 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 388px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-20 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-20 .u-image-1 {
  height: 263px;
  object-position: 50% 2%;
  margin: 0;
}

.u-section-20 .u-text-1 {
  margin: 19px auto 0 0;
}

.u-section-20 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-20 .u-image-2 {
  height: 263px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-20 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-20 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-20 .u-image-3 {
  height: 263px;
  object-position: 50% 0%;
  margin: 0;
}

.u-section-20 .u-text-3 {
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 320px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-20 .u-image-1 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-2 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-3 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 735px;
    grid-auto-columns: 50%;
  }

  .u-section-20 .u-image-1 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-2 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-3 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-20 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-20 .u-image-1 {
    height: 426px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-20 .u-image-2 {
    height: 426px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-20 .u-image-3 {
    height: 426px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-image-1 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-2 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-image-3 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 451px;
}

.u-section-21 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 23px;
  margin-bottom: 23px;
}

.u-section-21 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 407px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-21 .u-container-layout-1 {
  padding: 20px 30px 17px;
}

.u-section-21 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 2%;
}

.u-section-21 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-21 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-21 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-21 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-21 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-21 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-21 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-21 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 336px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-21 .u-image-1 {
    height: 208px;
  }

  .u-section-21 .u-image-2 {
    height: 208px;
  }

  .u-section-21 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 772px;
    grid-auto-columns: 50%;
  }

  .u-section-21 .u-image-1 {
    height: 246px;
  }

  .u-section-21 .u-image-2 {
    height: 246px;
  }

  .u-section-21 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-21 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-1 {
    height: 426px;
  }

  .u-section-21 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-2 {
    height: 426px;
  }

  .u-section-21 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-image-1 {
    height: 262px;
  }

  .u-section-21 .u-image-2 {
    height: 262px;
  }

  .u-section-21 .u-image-3 {
    height: 262px;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 448px;
}

.u-section-22 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 18px;
  margin-bottom: 18px;
}

.u-section-22 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 412px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-22 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-22 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 2%;
}

.u-section-22 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-22 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-22 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 0% 0%;
}

.u-section-22 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-22 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-22 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-22 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-22 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 340px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-22 .u-image-1 {
    height: 208px;
  }

  .u-section-22 .u-image-2 {
    height: 208px;
  }

  .u-section-22 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 781px;
    grid-auto-columns: 50%;
  }

  .u-section-22 .u-image-1 {
    height: 246px;
  }

  .u-section-22 .u-image-2 {
    height: 246px;
  }

  .u-section-22 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-22 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-22 .u-image-1 {
    height: 426px;
  }

  .u-section-22 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-22 .u-image-2 {
    height: 426px;
  }

  .u-section-22 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-22 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-image-1 {
    height: 262px;
  }

  .u-section-22 .u-image-2 {
    height: 262px;
  }

  .u-section-22 .u-image-3 {
    height: 262px;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 435px;
}

.u-section-23 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 13px;
  margin-bottom: 13px;
}

.u-section-23 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 409px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-23 .u-container-layout-1 {
  padding: 20px 24px;
}

.u-section-23 .u-image-1 {
  height: 263px;
  object-position: 50% 2%;
  margin: 0 6px;
}

.u-section-23 .u-text-1 {
  margin: 20px auto 0 6px;
}

.u-section-23 .u-container-layout-2 {
  padding: 20px 24px;
}

.u-section-23 .u-image-2 {
  height: 263px;
  object-position: 50% 0%;
  margin: 0 6px;
}

.u-section-23 .u-text-2 {
  margin: 20px auto 0 6px;
}

.u-section-23 .u-container-layout-3 {
  padding: 20px 24px;
}

.u-section-23 .u-image-3 {
  height: 263px;
  object-position: 50% 0%;
  margin: 0 6px;
}

.u-section-23 .u-text-3 {
  margin: 20px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-23 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 337px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-23 .u-image-1 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-image-2 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-image-3 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 774px;
    grid-auto-columns: 50%;
  }

  .u-section-23 .u-image-1 {
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-image-2 {
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-image-3 {
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-23 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-23 .u-image-1 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-23 .u-image-2 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-23 .u-image-3 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-image-1 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-image-2 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-23 .u-image-3 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-24 .u-sheet-1 {
  min-height: 461px;
}

.u-section-24 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-24 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 441px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-24 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-24 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 2%;
}

.u-section-24 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-24 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-24 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-24 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-24 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-24 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-24 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-24 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 364px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-24 .u-image-1 {
    height: 208px;
  }

  .u-section-24 .u-image-2 {
    height: 208px;
  }

  .u-section-24 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 836px;
    grid-auto-columns: 50%;
  }

  .u-section-24 .u-image-1 {
    height: 246px;
  }

  .u-section-24 .u-image-2 {
    height: 246px;
  }

  .u-section-24 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-24 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-24 .u-image-1 {
    height: 426px;
  }

  .u-section-24 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-24 .u-image-2 {
    height: 426px;
  }

  .u-section-24 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-24 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-image-1 {
    height: 262px;
  }

  .u-section-24 .u-image-2 {
    height: 262px;
  }

  .u-section-24 .u-image-3 {
    height: 262px;
  }
}.u-section-25 .u-sheet-1 {
  min-height: 428px;
}

.u-section-25 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-25 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 388px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-25 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-25 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-25 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-25 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-25 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-25 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-25 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-25 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 42.55% 0%;
}

.u-section-25 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-25 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 320px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-25 .u-image-1 {
    height: 208px;
  }

  .u-section-25 .u-image-2 {
    height: 208px;
  }

  .u-section-25 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-25 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 735px;
    grid-auto-columns: 50%;
  }

  .u-section-25 .u-image-1 {
    height: 246px;
  }

  .u-section-25 .u-image-2 {
    height: 246px;
  }

  .u-section-25 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-25 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-25 .u-image-1 {
    height: 426px;
  }

  .u-section-25 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-25 .u-image-2 {
    height: 426px;
  }

  .u-section-25 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-25 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-image-1 {
    height: 262px;
  }

  .u-section-25 .u-image-2 {
    height: 262px;
  }

  .u-section-25 .u-image-3 {
    height: 262px;
  }
}.u-section-26 .u-sheet-1 {
  min-height: 444px;
}

.u-section-26 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 17px;
  margin-bottom: 17px;
}

.u-section-26 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 411px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-26 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-26 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-26 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-26 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-26 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-26 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-26 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-26 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 43.04% 54.96%;
}

.u-section-26 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-26 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 339px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-26 .u-image-1 {
    height: 208px;
  }

  .u-section-26 .u-image-2 {
    height: 208px;
  }

  .u-section-26 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-26 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 779px;
    grid-auto-columns: 50%;
  }

  .u-section-26 .u-image-1 {
    height: 246px;
  }

  .u-section-26 .u-image-2 {
    height: 246px;
  }

  .u-section-26 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-26 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-26 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-26 .u-image-1 {
    height: 426px;
  }

  .u-section-26 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-26 .u-image-2 {
    height: 426px;
  }

  .u-section-26 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-26 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-image-1 {
    height: 262px;
  }

  .u-section-26 .u-image-2 {
    height: 262px;
  }

  .u-section-26 .u-image-3 {
    height: 262px;
  }
}.u-section-27 .u-sheet-1 {
  min-height: 420px;
}

.u-section-27 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-27 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 379px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-27 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-27 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 36.98%;
}

.u-section-27 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-27 .u-container-layout-2 {
  padding: 20px 30px 18px;
}

.u-section-27 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 42.55% 51.83%;
}

.u-section-27 .u-text-2 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-27 .u-repeater-1 {
    min-height: 313px;
    grid-gap: 0px;
  }

  .u-section-27 .u-image-1 {
    height: 211px;
  }

  .u-section-27 .u-image-2 {
    height: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-27 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 928px;
    grid-auto-columns: 100%;
  }

  .u-section-27 .u-image-1 {
    height: 340px;
  }

  .u-section-27 .u-image-2 {
    height: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-27 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-27 .u-image-1 {
    height: 268px;
  }

  .u-section-27 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-27 .u-image-2 {
    height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-image-1 {
    height: 165px;
  }

  .u-section-27 .u-image-2 {
    height: 165px;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 402px;
}

.u-section-28 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-28 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 401px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-28 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-28 .u-image-1 {
  height: 263px;
  margin-top: 14px;
  margin-bottom: 0;
  object-position: 50.64% 0%;
}

.u-section-28 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-28 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-28 .u-image-2 {
  height: 263px;
  margin-top: 14px;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-28 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-28 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-28 .u-image-3 {
  height: 263px;
  margin-top: 14px;
  margin-bottom: 0;
  object-position: 42.55% 0%;
}

.u-section-28 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-28 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 331px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-28 .u-image-1 {
    height: 208px;
  }

  .u-section-28 .u-image-2 {
    height: 208px;
  }

  .u-section-28 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 761px;
    grid-auto-columns: 50%;
  }

  .u-section-28 .u-image-1 {
    height: 246px;
  }

  .u-section-28 .u-image-2 {
    height: 246px;
  }

  .u-section-28 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-28 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-28 .u-image-1 {
    height: 426px;
  }

  .u-section-28 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-28 .u-image-2 {
    height: 426px;
  }

  .u-section-28 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-28 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-image-1 {
    height: 262px;
  }

  .u-section-28 .u-image-2 {
    height: 262px;
  }

  .u-section-28 .u-image-3 {
    height: 262px;
  }
}.u-section-29 .u-sheet-1 {
  min-height: 408px;
}

.u-section-29 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-29 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 408px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-29 .u-container-layout-1 {
  padding: 20px 30px 18px;
}

.u-section-29 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50.64% 0%;
}

.u-section-29 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-29 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-29 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-29 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-29 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-29 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 53.26% 0%;
}

.u-section-29 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-29 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 336px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-29 .u-image-1 {
    height: 208px;
  }

  .u-section-29 .u-image-2 {
    height: 208px;
  }

  .u-section-29 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-29 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 772px;
    grid-auto-columns: 50%;
  }

  .u-section-29 .u-image-1 {
    height: 246px;
  }

  .u-section-29 .u-image-2 {
    height: 246px;
  }

  .u-section-29 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-29 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-29 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-29 .u-image-1 {
    height: 426px;
  }

  .u-section-29 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-29 .u-image-2 {
    height: 426px;
  }

  .u-section-29 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-29 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-image-1 {
    height: 262px;
  }

  .u-section-29 .u-image-2 {
    height: 262px;
  }

  .u-section-29 .u-image-3 {
    height: 262px;
  }
}.u-section-30 .u-sheet-1 {
  min-height: 379px;
}

.u-section-30 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-30 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 380px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-30 .u-container-layout-1 {
  padding: 20px 30px 18px;
}

.u-section-30 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50.64% 0%;
}

.u-section-30 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-30 .u-container-layout-2 {
  padding: 20px 30px 18px;
}

.u-section-30 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-30 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-30 .u-container-layout-3 {
  padding: 20px 30px 18px;
}

.u-section-30 .u-image-3 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 42.55% 0%;
}

.u-section-30 .u-text-3 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-30 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 313px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-30 .u-image-1 {
    height: 208px;
  }

  .u-section-30 .u-image-2 {
    height: 208px;
  }

  .u-section-30 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-30 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 719px;
    grid-auto-columns: 50%;
  }

  .u-section-30 .u-image-1 {
    height: 246px;
  }

  .u-section-30 .u-image-2 {
    height: 246px;
  }

  .u-section-30 .u-image-3 {
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-30 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-30 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-30 .u-image-1 {
    height: 426px;
  }

  .u-section-30 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-30 .u-image-2 {
    height: 426px;
  }

  .u-section-30 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-30 .u-image-3 {
    height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-image-1 {
    height: 262px;
  }

  .u-section-30 .u-image-2 {
    height: 262px;
  }

  .u-section-30 .u-image-3 {
    height: 262px;
  }
}.u-section-31 .u-sheet-1 {
  min-height: 498px;
}

.u-section-31 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-31 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 478px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-31 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-31 .u-image-1 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50.64% 0%;
}

.u-section-31 .u-text-1 {
  margin: 17px auto 0 0;
}

.u-section-31 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-31 .u-container-layout-2 {
  padding: 20px 30px 17px;
}

.u-section-31 .u-image-2 {
  height: 263px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-31 .u-text-3 {
  margin: 17px auto 0 0;
}

.u-section-31 .u-text-4 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-31 .u-repeater-1 {
    min-height: 394px;
    grid-gap: 0px;
  }

  .u-section-31 .u-image-1 {
    height: 211px;
  }

  .u-section-31 .u-image-2 {
    height: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-31 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 928px;
    grid-auto-columns: 100%;
  }

  .u-section-31 .u-image-1 {
    height: 340px;
  }

  .u-section-31 .u-image-2 {
    height: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-31 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-31 .u-image-1 {
    height: 268px;
  }

  .u-section-31 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-31 .u-image-2 {
    height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-31 .u-image-1 {
    height: 165px;
  }

  .u-section-31 .u-image-2 {
    height: 165px;
  }
} .u-section-32 {
  background-image: none;
}

.u-section-32 .u-sheet-1 {
  min-height: 743px;
}

.u-section-32 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 39px auto 0;
}

.u-section-32 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-32 .u-text-1 {
  margin: 29px 96px 0;
}

.u-section-32 .u-text-2 {
  width: 680px;
  margin: 21px auto 39px;
}

@media (max-width: 767px) {
  .u-section-32 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-32 .u-video-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-32 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-32 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-32 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-32 .u-text-2 {
    width: 340px;
  }
}.u-section-33 .u-sheet-1 {
  min-height: 694px;
}

.u-section-33 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 0 0;
}

.u-section-33 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-33 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 30px auto 60px;
}

.u-section-33 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .u-section-33 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-33 .u-text-2 {
    width: 540px;
  }

  .u-section-33 .u-video-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-33 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-33 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-33 .u-text-2 {
    width: 340px;
  }

  .u-section-33 .u-video-1 {
    height: 191px;
    width: 340px;
  }
}